
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*----------variable-color----------------*/
:root {
    --main-color-900: #294650;
    --main-color-800: #2c525e;
    --main-color-700: #2d6171;
    --main-color-600: #2f7283;
    --main-color-500: #3892a2;
    --main-color-400: #53aebd;
    --main-color-300: #8accd6;
    --main-color-200: #bae2e7;
    --main-color-100: #daf1f3;
    --main-color-50: #f1fafa;
}
/*----------------Text - Color-----------------*/
.text-blue-900{
    color: var(--main-color-900) !important;
}
.text-blue-800{
    color: var(--main-color-800) !important;
}
.text-blue-700{
    color: var(--main-color-700) !important;
}
.text-blue-600{
    color: var(--main-color-600) !important;
}
.text-blue-500{
    color: var(--main-color-500) !important;
}
.text-blue-400{
    color: var(--main-color-400) !important;
}
.text-blue-300{
    color: var(--main-color-300) !important;
}
.text-blue-200{
    color: var(--main-color-200) !important;
}
.text-blue-100{
    color: var(--main-color-100) !important;
}
.text-blue-50{
    color: var(--main-color-50) !important;
}

/*----------------Background - Color-----------------*/
.bg-blue-900{
    background-color: var(--main-color-900)!important;
}
.bg-blue-800{
    background-color: var(--main-color-800)!important;
}
.bg-blue-700{
    background-color: var(--main-color-700)!important;
}
.bg-blue-600{
    background-color: var(--main-color-600)!important;
}
.bg-blue-500{
    background-color: var(--main-color-500)!important;
}
.bg-blue-400{
    background-color: var(--main-color-400)!important;
}
.bg-blue-300{
    background-color: var(--main-color-300)!important;
}
.bg-blue-200{
    background-color: var(--main-color-200)!important;
}
.bg-blue-100{
    background-color: var(--main-color-100)!important;
}
.bg-blue-50{
    background-color: var(--main-color-50)!important;
}

/*----------------Font---------------------*/
.font-kh-siemreap{
    font-family: 'Siemreap', sans-serif !important;
    font-weight: 200;
}
.font-kh-bayon{
    font-family: 'Bayon', sans-serif !important;
    font-weight: 200;
}
.font-end{
    font-family: "SUSE", sans-serif !important;
}
/*-------------Text-hover--------------------*/
.text-hover:hover{
    color: darkred !important;
    transition: color 0.3s ease;
}
.transition{
    transition: 0.3s ease-in-out;
}
.bg-hover:hover{
    background-color: darkred !important;
}

/*----------------*/
main{
    height: 100vh;
}
main > .hero{
    width: 100%;
    height: 100%;
    background: url(/assets/images/IMG_0782.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

main > .card-content{
    width: 100%;
    background: url(/assets/images/background.JPG);
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.hover-image:hover{
    cursor: pointer;
    filter: brightness(110%) !important;
}
.scroll-bar::-webkit-scrollbar{
    display: none;
}
.top{
    width: 100%;
    background: 100%;
    background: url(/assets//images//abstract-dark-red-texture-background-red-concrete-backgrounds-with-rough-texture-dark-wallpaper-space-text-use-decorative-design-web-page-banner-frames-wallpaper_364465-280.avif);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}







